.header{
    font-family: Arial, Helvetica, sans-serif;    
}
.container{
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;


}
body{
    background-color: rgb(51, 104, 104);
}
.content{
    width: 600px;
    
    height: 500px;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    box-shadow: 1px 5px 10px rgb(242, 236, 236);
    margin: 1px auto;
    padding-top: 20px;
}

.sampul{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.card{
    width: 60%;
    border-radius: 4px;
    height: 60px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 3px auto;
    margin-top: ;
    
    margin-top: 10px;
    background-color: rgb(210, 218, 210);
}
button{
    transform: scale(2);
    font-family: monospace;
    display: none;
    margin: 20px auto;
    box-shadow: 1px 5px 10px rgb(242, 236, 236);

}
.input{
    margin-top: 10px;
    width: 50%;
    height: 50px;
    

    
}
.input:focus{
    border: 2px solid blue;
    border-radius: 10px;
    outline: none;
    margin-bottom: 30px;
    
    transition: .5s;

    font-size: 15px;
}

.heading{
    font-size: 25px;
    color: white;
}


.tombol{
    background-image: url(../../plus-button.png);
    width: ;
}